// Base container
.main {
  flex: 1 0 auto;
  max-width: $container-width-lg;
  margin: 0 auto;
  padding: $spacing-4;
  width: 100%;

  @media (min-width: $breakpoint-sm) {
    padding: $spacing-4;
  }
}

.container-narrow {
  width: 100%;
  max-width: $content-width-md;
  margin: 0 auto;
}

.container-with-sidebar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-md) {
    max-width: $content-width-sidebar;
    display: grid;
    grid-template-columns: $content-width-optimal 1fr;
    gap: $spacing-8;
    justify-content: center;
  }
}

.content-primary {
  width: 100%;

  @media (min-width: $breakpoint-md) {
    min-width: 0;
    max-width: $content-width-optimal;
  }
}

.content-sidebar {
  width: 100%;
  margin-top: $spacing-8;

  @media (min-width: $breakpoint-md) {
    margin-top: 0;
    max-width: $sidebar-width;
  }
}

.footer {
  flex-shrink: 0;
}
