<footer class="footer">
  <div class="footer__content">
    <address class="footer__contact">
      <ul class="footer__social">
        <li class="footer__social-item">
          <a
            href="https://github.com/elowenluo"
            target="_blank"
            rel="noopener noreferrer"
            class="footer__link"
          >
            GitHub
          </a>
        </li>
        <li class="footer__social-item">
          <a href="mailto:contact@elowenluo.com" class="footer__link">
            Email
          </a>
        </li>
      </ul>
    </address>

    <div class="footer__license">
      <figure class="footer__license-container">
        <figcaption
          xmlns:cc="http://creativecommons.org/ns#"
          xmlns:dct="http://purl.org/dc/terms/"
          class="footer__license-text"
        >
          <a
            property="dct:title"
            rel="cc:attributionURL"
            href="https://elowenluo.com/"
            class="footer__license-link"
          >
            Elowen Luo's Blog
          </a>
          by
          <a
            rel="cc:attributionURL dct:creator"
            property="cc:attributionName"
            href="https://github.com/elowenluo"
            class="footer__license-link"
          >
            Elowen Luo
          </a>
          is licensed under
          <a
            href="https://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1"
            target="_blank"
            rel="license noopener noreferrer"
            class="footer__license-link"
          >
            CC BY-NC 4.0
          </a>
        </figcaption>
        <div class="footer__badges">
          <img
            src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
            alt="Creative Commons License"
            class="footer__badge"
          />
          <img
            src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
            alt="Attribution Required"
            class="footer__badge"
          />
          <img
            src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"
            alt="NonCommercial Use Only"
            class="footer__badge"
          />
        </div>
      </figure>
    </div>
  </div>

  <div class="footer__copyright">
    <small class="footer__copyright-text"
      >&copy; <time datetime="2025">2025</time> Elowen Luo. All rights
      reserved.</small
    >
  </div>
</footer>
