<footer>
  <div class="footer-content">
    <address class="contact-links">
      <ul>
        <li>
          <a
            href="https://github.com/elowenluo"
            target="_blank"
            rel="noopener noreferrer"
          >
            GitHub
          </a>
        </li>
        <li>
          <a href="mailto:contact@elowenluo.com"> Email </a>
        </li>
      </ul>
    </address>

    <div class="license-info">
      <figure class="license-container">
        <figcaption
          xmlns:cc="http://creativecommons.org/ns#"
          xmlns:dct="http://purl.org/dc/terms/"
        >
          <a
            property="dct:title"
            rel="cc:attributionURL"
            href="https://elowenluo.com/"
          >
            Elowen Luo's Blog
          </a>
          by
          <a
            rel="cc:attributionURL dct:creator"
            property="cc:attributionName"
            href="https://github.com/elowenluo"
          >
            Elowen Luo
          </a>
          is licensed under
          <a
            href="https://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1"
            target="_blank"
            rel="license noopener noreferrer"
          >
            CC BY-NC 4.0
          </a>
        </figcaption>
        <div class="license-badges">
          <img
            src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
            alt="Creative Commons License"
          />
          <img
            src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
            alt="Attribution Required"
          />
          <img
            src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"
            alt="NonCommercial Use Only"
          />
        </div>
      </figure>
    </div>
  </div>

  <div class="copyright">
    <small
      >&copy; <time datetime="2025">2025</time> Elowen Luo. All rights
      reserved.</small
    >
  </div>
</footer>
