<header class="header">
  <div class="header__container">
    <nav class="header__nav" aria-label="Main Navigation">
      <a href="/" class="header__logo" aria-label="Home">Elowen Luo</a>

      <button
        class="header__toggler"
        aria-label="Toggle menu"
        aria-expanded="false"
        aria-controls="nav-menu"
      >
        <span class="header__toggle-line"></span>
        <span class="header__toggle-line"></span>
        <span class="header__toggle-line"></span>
      </button>

      <ul class="header__menu">
        <li class="header__item">
          <a
            href="/blog"
            class="header__link{% if current_path is defined and current_path is starting_with('blog') %} header__link--active{% endif %}"
          >
            Blog
          </a>
        </li>
        <li class="header__item">
          <a
            href="/now"
            class="header__link{% if current_path is defined and current_path is starting_with('now') %} header__link--active{% endif %}"
          >
            Now
          </a>
        </li>
        <li class="header__item">
          <a
            href="/excerpts"
            class="header__link{% if current_path is defined and current_path is starting_with('excerpts') %} header__link--active{% endif %}"
          >
            Excerpts
          </a>
        </li>
        <li class="header__item">
          <a
            href="/thoughts"
            class="header__link{% if current_path is defined and current_path is starting_with('thoughts') %} header__link--active{% endif %}"
          >
            Thoughts
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
