.btn {
  display: inline-block;
  padding: $spacing-xs 3 * $spacing-xs;
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  font-family: $font-sans;
  text-decoration: none;
  transition: all $transition-fast;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-md;
  border: none;

  &:hover{
    border: none;
    text-decoration: none;
  }

  &--tag {
    background-color: $color-brown-200;
    color: $color-brown-600;

    &:hover {
      background-color: $color-brown-300;
      color: $color-brown-600;
    }
  }

  &--category {
    background-color: $color-primary;
    color: $color-brown-100;

    &:hover {
      background-color: $color-green-800;
      color: $color-brown-100;
    }
  }
}
