.footer {
  border-top: 1px solid $color-border;
  padding-top: $spacing-4;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-2;
  }

  &__social {
    display: flex;
    align-items: center;
    gap: $spacing-2;
  }

  &__license {
    text-align: center;
  }

  &__badges {
    margin-top: $spacing-1;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  &__badge {
    height: 30px;
    width: 30px;
  }

  &__copyright {
    margin-top: $spacing-2;
    width: 100%;
    text-align: center;
  }
}
